<%= form_with url:sessions_path, local: true do |f| %>
<div class="form">

    <div class="form-div">
        <%= f.label :email,  class:"form-label" %>
        <%= f.email_field :email, class:"form-field" %>
    </div>

    <div class="form-div">
        <%= f.label :password, class:"form-label" %>
        <%= f.password_field :password, class:"form-field" %>
    </div>

    <div>
        <%= f.submit "Login", class:"form-btn"  %>
    </div>

</div>

<% end  %>