<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <header>
  <%=  link_to "new", new_idea_path %>
  <%=  link_to "index", ideas_path %>
<hr />
  </header>
  <article>
    <%= yield %>

    </article>
  </body>
</html>
